.user :hover {
    background-color: whitesmoke;
    color: #FFCC00;
  }
  .sesion{
    color: black;
    margin: 0px 17px;
  }

.biemvenido{
  position: absolute;
  width: 55vh;
  display: grid;
  padding: 1em;
  background: steelblue;
  border: 5px solid khaki;
  border-radius: 30px;
  padding: 1em;
  color: #3f3f3f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.desplegable{
    width:  300px;
    min-height: calc(100vh - 52px);
    position:  fixed;
    right:  0;
    top: 53px;
    background: brown;
}