.todoLeagues{
  border-radius: 5px;
  margin: 100px;
  padding: 0 15px;
  background: rgba(0, 247, 255, 0.5);
  color: white;
  text-align: center;
}
.trophies_container {
  border-radius: 5px;
  padding: 0 15px;
  background: rgba(183, 0, 255, 0.5);
  color: white;
}
.title {
  font-size: 70px;
  color: white;
}
.fondo {
  width: 100%;
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("http://www.survivalgaming.es/wp-content/uploads/2018/01/FONDO-COFRE.png");
  background-size: contain;
  margin-top: -50px;
  text-align: center;
}