.fondo {
    margin: -20px;
    background: url("http://www.survivalgaming.es/wp-content/uploads/2018/01/FONDO-COFRE.png");
    height: 120vh;
  }
  h2 {
    text-align: center;
  }
  .chest_container {
    display: flex;
    width: 90%;
    margin: 0px 0px 0px 100px;
    flex-wrap: wrap;
  }
  .chest img {
    max-width: 100%;
  }
  .chest {
    width: 19%;
    border-radius: 5px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 247, 255, 0.5);
    padding: 30px;
    display: inline-block;
  }