<div class="fondo">
  <div>
    <div *ngIf="user">
      <div class="user">
        <h2 class="userName">{{user.username}}</h2>
        <h2 class="nameReal">{{ user.name }}</h2>
        <h2 class="img">
          <img src="{{ user.img }}" alt="">
        </h2>
      </div>
    </div>
    <div *ngIf='isMe'>
      <div class="messages_container">
        <div class="blockmesaje">
          <ul *ngFor="let comment of comments">
            <p class="elquemandaelmansaje">{{comment.userSender_id.username}}:</p>
            <li class="text">{{comment.text}}
              <button class="delete" (click)="removeMessages(comment._id)"> Delete </button>
              <a [routerLink]="['/perfil',comment.userSender_id._id]">
                <a href="" class="answer">Answer</a>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf='!isMe'>
      <div class="messages_container">
        <div class="blockmesaje">
          <ul *ngFor="let comment of myComments">
            <p class="elquemandaelmansaje">{{comment.userSender_id.username}}:</p>
            <li class="text">{{comment.text}}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="dondeescribes">
      <input [(ngModel)]="comment">
      <button class="send" (click)="guardaMessages()"> Send Message </button>
    </div>
  </div>
</div>
